<% include partials/header %>
<h1> <%=workshop.name %></h1>
<img src="<%=workshop.image%>" alt="image not loaded">
<p>Hosted by <%=workshop.host %></p>
<p>Contact No: <%=workshop.mobile %></p>
<p>Description : <%=workshop.description %></p>

<% include partials/footer %>